

/*-----------------------------------
General
-----------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: #0a0e23;
}




/*-----------------------------------
Svg background
-----------------------------------*/


#svg-background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

g {
    z-index: 1000;
}

/*-----------------------------------
main ontent
-----------------------------------*/
#main-content {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
    /* Votre contenu ici */
}