

/*-----------------------------------
seneral
-----------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to top right, #080c1d, #121b3d);
    position: relative;
}




/*-----------------------------------
svg background
-----------------------------------*/


#svg-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#board-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    aspect-ratio: 1/1;
    background-color: white;
    opacity: 0.5;
    z-index: 4;
}