

/*-----------------------------------
General
-----------------------------------*/


body {
    margin: 0;
}




/*-----------------------------------
Svg background
-----------------------------------*/


#svg-background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}