

/*-----------------------------------
seneral
-----------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to top right, #080c1d, #121b3d);
    position: relative;
}




/*-----------------------------------
svg background
-----------------------------------*/


#svg-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}


/*-----------------------------------
chess board
-----------------------------------*/



#board-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    aspect-ratio: 1/1;
    box-shadow: 0 0 10px white;
    background: rgba(26, 20, 16, 0.3);
    border-radius: 1%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 74px);
    grid-template-rows: repeat(8, 74px);
    gap: 0;
}

.square-bright {
    background-color: #dbb17d;
}

.square-dark {
    background-color: #945508;
}

#square-00 {
    border-top-left-radius: 3%;
}

#square-07 {
    border-top-right-radius: 3%;
}

#square-70 {
    border-bottom-left-radius: 3%;
}

#square-77 {
    border-bottom-right-radius: 3%;
}

.square {
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-piece {
    color: white;
}

.pointer:hover {
    cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.allowed-move {
    background-color: rgb(165, 157, 157);
    width: 74px;
    height: 74px;
    opacity: 0.3;
    transition: 0.5s ease;
}

.allowed-move:hover {
    opacity: 0.8;
}