@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');




/*-----------------------------------
general
-----------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to top right, #080c1d, #121b3d);
    position: relative;
}

.pointer:hover {
    cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




/*-----------------------------------
svg background
-----------------------------------*/


#svg-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#svg-background.clip-board {
    clip-path: polygon(
        0% 0%, 
        0% 100%, 
        calc(50% - 320px) 100%, 
        calc(50% - 320px) calc(50% - 320px), 
        calc(50% + 320px) calc(50% - 320px), 
        calc(50% + 320px) calc(50% + 320px), 
        calc(50% - 320px) calc(50% + 320px), 
        calc(50% - 320px) 100%, 
        100% 100%, 
        100% 0%
    );
}


/*-----------------------------------
chess board
-----------------------------------*/

#board-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 647px;
    aspect-ratio: 1/1;
    box-shadow: 0 0 10px white;
    background: rgba(26, 20, 16, 0.3);
    border-radius: 1%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chess-board {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    gap: 0;
}

.square-bright {
    background-color: #dbb17d;
}

.square-dark {
    background-color: #a3610f;
}

.square-red {
    background-color: rgb(220, 43, 43);
}

#square-00 {
    border-top-left-radius: 3%;
}

#square-07 {
    border-top-right-radius: 3%;
}

#square-70 {
    border-bottom-left-radius: 3%;
}

#square-77 {
    border-bottom-right-radius: 3%;
}

.square {
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-piece {
    color: white;
}


/*------------------------------------------*/
/*failed attempt not to display emoji on ios*/
/*------------------------------------------*/
span {
    font-variant-emoji: none;
    font-variant: normal;
}

/*----------------*/
/*promotion choice*/
/*----------------*/

#w-pawn-promotion {
    position: relative;
    z-index: 4;
    display: none;
}

#w-promotion-choices {
    background: #080c1d;
    box-shadow: 0 0 10px black;
    color: white;
    font-size: 75px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(4, 80px) 40px;
    grid-template-columns: repeat(1, 80px);
    position: absolute;
    top: -320px;
}


#b-pawn-promotion {
    position: relative;
    z-index: 4;
    display: none;
}

#b-promotion-choices {
    background: whitesmoke;
    box-shadow: 0 0 10px white;
    color: black;
    font-size: 75px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 40px repeat(4, 80px);
    grid-template-columns: repeat(1, 80px);
    position: absolute;
    top: -40px;
}

.w-cancel-promotion {
    font-size: 30px;
    padding-bottom: 10px;
}
.b-cancel-promotion {
    font-size: 30px;
    padding-top: 10px;
}

/*-------------*/
/*allowed moves*/
/*-------------*/

.allowed-move {
    background-color: rgb(165, 157, 157);
    width: 80px;
    height: 80px;
    opacity: 0.3;
    transition: 0.5s ease;
}

.allowed-move:hover {
    opacity: 0.8;
}

/*---------------*/
/*welcome message*/
/*---------------*/

#message {
    position: absolute;
    z-index: 4;
    text-align: center;
    color: white;   
    height: 640px;
    width: 640px;
    background-color: #121b3d;
    opacity: 0.9;
    border-radius: 0.4%;
    justify-content: center;
    align-content: center;
    transition: opacity 0.5s ease;
}

#message-to-appear {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/*appearance animation*/
#message-to-appear.message-appearance {
    opacity: 1;
    transform: translateY(0);
}

#h1-welcome {
    font-family: "Baskervville SC", serif;
    font-size: 45px;
}


#mode-choice {
    padding-top: 50px;
    font-size: 25px;
    font-family: "Baskervville", serif;
}


#color-choice {
    padding-top: 50px;
    font-size: 25px;
    font-family: "Baskervville", serif;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

#color-choice.message-appearance {
    opacity: 1;
    transform: translateY(0);
}

.underlined-button {
    font-style: italic;
    font-size: 25px;
}

.underlined-button:hover {
    border-bottom: 0.5px solid white;
}

/*-----------------*/
/*game over message*/
/*-----------------*/

#game-over-message {
    font-family: "Baskervville", serif;
    font-size: 45px;
}